@font-face {
    font-family: 'rt-icons';
    src: url('../fonts/rt-icons.eot?57054479');
    src: url('../fonts/rt-icons.eot?57054479#iefix') format('embedded-opentype'),
        url('../fonts/rt-icons.woff2?57054479') format('woff2'),
        url('../fonts/rt-icons.woff?57054479') format('woff'),
        url('../fonts/rt-icons.svg?57054479#rt-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'rt-icons';
      src: url('../font/rt-icons.svg?57054479#rt-icons') format('svg');
    }
  }
  */
[class^="rt-"]:before,
[class*=" rt-"]:before {
    font-family: "rt-icons";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.rt-linkedin-in:before {
    content: '\e800';
}

/* 'î €' */
.rt-location-dot:before {
    content: '\e801';
}

/* 'î ' */
.rt-message:before {
    content: '\e802';
}

/* 'î ‚' */
.rt-phone-flip:before {
    content: '\e803';
}

/* 'î ƒ' */
.rt-play:before {
    content: '\e804';
}

/* 'î „' */
.rt-plus:before {
    content: '\e805';
}

/* 'î …' */
.rt-quote-left:before {
    content: '\e806';
}

/* 'î †' */
.rt-twitter:before {
    content: '\e807';
}

/* 'î ‡' */
.rt-user:before {
    content: '\e808';
}

/* 'î ˆ' */
.rt-angle-down:before {
    content: '\e809';
}

/* 'î ‰' */
.rt-angle-right:before {
    content: '\e80a';
}

/* 'î Š' */
.rt-angles-up:before {
    content: '\e80b';
}

/* 'î ‹' */
.rt-arrow-left:before {
    content: '\e80c';
}

/* 'î Œ' */
.rt-arrow-left-long:before {
    content: '\e80d';
}

/* 'î ' */
.rt-arrow-right:before {
    content: '\e80e';
}

/* 'î Ž' */
.rt-arrow-right-long:before {
    content: '\e80f';
}

/* 'î ' */
.rt-book:before {
    content: '\e810';
}

/* 'î ' */
.rt-calendar-days:before {
    content: '\e811';
}

/* 'î ‘' */
.rt-check:before {
    content: '\e812';
}

/* 'î ’' */
.rt-chevrons-left:before {
    content: '\e813';
}

/* 'î “' */
.rt-chevrons-right:before {
    content: '\e814';
}

/* 'î ”' */
.rt-comments:before {
    content: '\e815';
}

/* 'î •' */
.rt-envelope:before {
    content: '\e816';
}

/* 'î –' */
.rt-facebook-f:before {
    content: '\e817';
}

/* 'î —' */
.rt-instagram:before {
    content: '\e818';
}

/* 'î ˜' */
.rt-magnifying-glass:before {
    content: '\e819';
}

/* 'î ™' */
.rt-xmark:before {
    content: '\e81a';
}

/* 'î š' */
.rt-thumbtack:before {
    content: '\e81b';
}

/* 'î ›' */
.rt-user-1:before {
    content: '\e81c';
}

/* 'î œ' */
.rt-heart:before {
    content: '\e81d';
}

/* 'î ' */
.rt-cart-shopping:before {
    content: '\e81e';
}

/* 'î ž' */
.rt-star-sharp:before {
    content: '\e81f';
}

/* 'î Ÿ' */
.rt-star-half:before {
    content: '\e820';
}

/* 'î  ' */
.rt-star:before {
    content: '\e821';
}

/* 'î ¡' */
.rt-star-sharp-half:before {
    content: '\e822';
}

/* 'î ¢' */
.rt-truck:before {
    content: '\e823';
}

/* 'î £' */
.rt-basket-shopping:before {
    content: '\e824';
}

/* 'î ¤' */
.rt-store:before {
    content: '\e825';
}

/* 'î ¥' */
.rt-user-2:before {
    content: '\e826';
}

/* 'î ¦' */
.rt-cart:before {
    content: '\e827';
}

/* 'î §' */
.rt-search:before {
    content: '\e828';
}

/* 'î ¨' */
.rt-heart-big:before {
    content: '\e829';
}

/* 'î ©' */